<ion-view>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search Username">
        </label>
        <div class="list">
            <div class="item item-divider">
                Add Friend
            </div>
            <ion-item class="item item-icon-right">
                Name
                <i class="icon ion-ios7-plus-outline" on-tap="addFriend()"></i>
            </ion-item>
            <div class="item item-divider">
                Your Friends
            </div>
            <ion-item class="item item-icon-right">
                Friend Name
                <i class="icon ion-ios7-circle-outline"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>